.main_headline{
	background-color: #20b7ff;
	border: 2px solid #006291;
	padding: 10px;
	border-radius: 25px;
	float: left;
	left: 0;
}

.center{
	text-align: center;
}

.left-div {
	width: 10%; 
	float: left;
} 

.right-div {
	width: 90%; 
	float: right;
} 

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.error {
	color: #ff3737;
}

.btn-outline {
	color: #4fbfa8;
  	background-color: #10111f;
  	border-color: #4fbfa8;
  	font-weight: bold;
  	letter-spacing: 0.05em;
  	border-radius: 5px;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  	background: #ff0000;
  	color: #000;
  	border-color: #4fbfa8; 
}

.success-message {
	background-color: #53ff53;
	color: #005315;
	font-weight: bold;
	width: 30px;
    border: 2px solid #005315;
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
}

.color-mat-default{
	color: #4fbfa8;
}

.color-green p{
	color: #00ffff;
}

.color-lime {
	color: lime;
}

.color-red-variant1 {
	color: #ff0000;
}

.color-white {
	color: white;
}

.color-blue-variant1 {
	color: #8080ff;
}

.left-align{
	text-align: left;
}

.margin-top-0{
	margin-top: 0;
}

.margin-top-15{
	margin-top: 15px;
}

.margin-left-60{
	margin-left: 60px;
}

.font-size-20{
	font-size: 20px;	
}

.btn-block {
    width: 101%;
    height: 50px;
}

.rgba-bg{
	background: rgba(0,0,0,0.7);
}

.bg-custom{
	background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}